.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.4s ease-in-out;
    background-color: #0D0C1F;

    &.scrolled {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        background-color: rgba(13, 12, 31, 0.95);
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }
}

.logo-img {
    height: 90px;
    width: auto;
    object-fit: contain;
    transition: all 0.4s ease-in-out;
}

.navbar.scrolled .logo-img {
    height: 50px;
}
